# PostgreSQL Database
POSTGRES_DB=chatdb
POSTGRES_USER=${DATABASE_USERNAME}
POSTGRES_PASSWORD${DATABASE_PASSWORD}

# Spring DataSource for Rag Chat Service
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/chatdb
SPRING_DATASOURCE_USERNAME=${DATABASE_USERNAME}
SPRING_DATASOURCE_PASSWORD=${DATABASE_PASSWORD}

# Spring Boot Profile
SPRING_PROFILES_ACTIVE=docker

# JWT and Security for Rag Chat Service
JWT_SECRET=${JWT_SECRET:mySecretKeyForDockerEnvironment123!@#SecureKey}
JWT_EXPIRATION_MS=86400000
JWT_ISSUER=rag-service
JWT_AUDIENCE=chat-bot

# API KEY
API_KEY=${API_KEY}

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@ragchat.com
PGADMIN_DEFAULT_PASSWORD=admin
